# ========================
# VARIÁVEIS DE AMBIENTE (CRÍTICO!)
# ========================
.env
.env.*
venv/
.venv/
__pycache__/

# ========================
# LOGS E ARTEFATOS DE BUILD
# ========================
build/*.log
/bin/

# ========================
# BINÁRIOS E EXECUTÁVEIS GO
# ========================
# Ignora arquivos compilados no Windows, Mac e Linux
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
app.exe

# ========================
# PASTAS DE EDITORES E IDEs
# ========================
.vscode/
.idea/
*.swp
*.swo

# ========================
# ARQUIVOS DO SISTEMA OPERACIONAL
# ========================
.DS_Store
Thumbs.db
